$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$bloodred: #820505;
$g-a-red: #e22424;
$g-a-white: #fff;
$go-green: #055f05;

h1 {
  font-size: 46px;
  margin-bottom: 15px;
  text-align: center;
}

#gameboard {
  background-color: $g-a-red;
  border: 6px solid $bloodred;
  border-radius: 10px;
  color: $g-a-white;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 400px;
  margin: 0 auto;
  width: 400px;
}

#gameboard > div {
  align-items: center;
  border: 3px solid $bloodred;
  cursor: not-allowed;
  display: flex;
  font-family: Helvetica;
  font-size: 4em;
  font-weight: bold;
  justify-content: center;
}

// below is if div is empty show the default cursor, if not show the not allowed cursor
#gameboard > div:empty {
  cursor: default;
}

#message,
#playerStatusMessage {
  background: $go-green;
  border-radius: 10px;
  color: $g-a-white;
  display: none;
  font-size: 18px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 32%;
}

#message.error {
  background: #cc0000;
}

.pageContent {
    width: 40%;
    margin: 0 auto;
    border: 2px solid #cc0000;
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(150,0,0,0.3);
}

.pageContent > form {
    margin-bottom: 20px;
    border-bottom: 1px solid #cc0000;
    padding-bottom: 20px;
}

.pageContent > form legend {
  border: none;
}

.signed-in .pageContent {
    border: none;
    margin: 0;
    box-shadow: none;
    position: absolute;
    top: 0;
    width: auto;
    right: 0;
    text-align: right;
}

.signed-in .pageContent > form {
    border-bottom: none;
}

.signed-in #message {
    background: none;
    color: #000;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: right;
    border-bottom: 3px solid green;
    width: auto;
    border-radius: 0;
    line-height: 2;
}

.signed-in #sign-out legend {
    display: none;
  }

  .signed-in #sign-out {
    margin-top: 50px;
  }

#newgame {
  display: none;
}

.signed-in #newgame {
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    background: $bloodred;
    color: #fff;
}

#sign-out {
    display: none;
}

#change-password {
  display: none;
}

.signed-in #change-password {
  display: inherit;
}

.signed-in #sign-out {
    display: inherit;
}

form#change-password {
// form:nth-child(3n) {
border-bottom: none;
margin-bottom: 0;
padding-bottom: 0;
text-align: center;
}

form#sign-in {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#sign-up input[name='credentials[email]'] {
    display: block;
    width: 99.5%;
    margin: 0 0 10px 0;
}

input[type="submit"] {
    display: block;
    margin: 10px auto 0 auto;
}

#sign-up input[name="credentials[password]"],
#sign-up input[name="credentials[password_confirmation]"] {
    width: 49.25%;
    display: inline-block;
}

#sign-in input[name="credentials[email]"],
#sign-in input[name="credentials[password]"]
 {
    width: 49.25%;
}

#change-password input[name="passwords[old]"],
#change-password input[name="passwords[new]"]
 {
    width: 49.25%;
}
